@using BoulevardManagement.WebApplication.Models.Home
@using BoulevardManagement.WebApplication.Resources
@using BoulevardManagement.DTO
@model DashboardVM

@{
    ViewBag.Title = "Home";
}

@if (Model.ShowMH)
{
    <div class="row">
        <div class="col-md-4">
            <div class="card card-custom wave wave-animate wave-danger mb-8 mb-lg-0" style="height:205px!important">
                <div class="card-body">
                    <div class="d-flex align-items-center p-5">
                        <div class="mr-6">
                            <span class="svg-icon svg-icon-primary svg-icon-4x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\keen\theme\demo4\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="@(Url.Action("Index","Patient"))" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">@CommonResource.TotalPatientsInMentalHealth</a>
                            <div class="text-dark-75">@Model.PatientsInTeleMH @CommonResource.Patients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!--begin::Stats Widget 4-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-6">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder font-size-h4 text-dark-75">@(CommonResource.MentalHealthCases)</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-lg">@(Convert.ToInt32(Model.TeleMHCases.Select(x => x.CaseCount).Average())) @(CommonResource.MonthlyAvg).</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="font-weight-bolder font-size-h1 text-dark-75">+@(Model.TeleMHCases.Select(x => x.CaseCount).Sum())</div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body p-0 h-125px">
                    <div id="MH" class="card-rounded-bottom position-absolute bottom-0 w-100" style="height: 120px" data-color="primary"></div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 4-->
        </div>

    </div>
}


@if (Model.ShowNPICU)
{
    <div class="row">
        <div class="col-md-4">
            <div class="card card-custom wave wave-animate wave-primary mb-8 mb-lg-0" style="height:205px!important">
                <div class="card-body">
                    <div class="d-flex align-items-center p-5">
                        <div class="mr-6">
                            <span class="svg-icon svg-icon-primary svg-icon-4x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\keen\theme\demo4\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="@(Url.Action("Index","Patient"))" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">@CommonResource.TotalPatientsInNPICU</a>
                            <div class="text-dark-75">@Model.PatientsInNPICU @CommonResource.Patients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!--begin::Stats Widget 4-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-6">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder font-size-h4 text-dark-75">@(CommonResource.NPICUCases)</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-lg">@(Convert.ToInt32(Model.NPICUCases.Select(x => x.CaseCount).Average())) @(CommonResource.MonthlyAvg).</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="font-weight-bolder font-size-h1 text-dark-75">+@(Model.NPICUCases.Select(x => x.CaseCount).Sum())</div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body p-0 h-125px">
                    <div id="NPICU" class="card-rounded-bottom position-absolute bottom-0 w-100" style="height: 120px" data-color="primary"></div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 4-->
        </div>

    </div>
}

@if (Model.ShowICU)
{
    <div class="row">
        <div class="col-md-4">
            <div class="card card-custom wave wave-animate wave-secondary mb-8 mb-lg-0" style="height:205px!important">
                <div class="card-body">
                    <div class="d-flex align-items-center p-5">
                        <div class="mr-6">
                            <span class="svg-icon svg-icon-primary svg-icon-4x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\keen\theme\demo4\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="@(Url.Action("Index","Patient"))" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">@CommonResource.TotalPatientsInICU</a>
                            <div class="text-dark-75">@Model.PatientsInICU @CommonResource.Patients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!--begin::Stats Widget 4-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-6">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder font-size-h4 text-dark-75">@(CommonResource.ICUCases)</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-lg">@(Convert.ToInt32(Model.ICUCases.Select(x => x.CaseCount).Average())) @(CommonResource.MonthlyAvg).</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="font-weight-bolder font-size-h1 text-dark-75">+@(Model.ICUCases.Select(x => x.CaseCount).Sum())</div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body p-0 h-125px">
                    <div id="ICU" class="card-rounded-bottom position-absolute bottom-0 w-100" style="height: 120px" data-color="primary"></div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 4-->
        </div>

    </div>
}










<div class="card card-custom card-shadowless bg-gray-100">
    <!--begin::Header-->
    <div class="card-header border-0 pt-7">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bold font-size-h4 text-dark-75">@NotificationResource.Notifications</span>
        </h3>
        <div class="card-toolbar">
            <ul class="nav nav-pills nav-pills-sm nav-dark">
                <li class="nav-item ml-0">
                    <a class="nav-link py-2 px-4 font-weight-bolder font-size-sm" data-toggle="tab" id="NoteAll" href="#kt_tab_table_5_1">@NotificationResource.All</a>
                </li>
                <li class="nav-item ml-0">
                    <a class="nav-link py-2 px-4 font-weight-bolder font-size-sm" data-toggle="tab" id="NoteRead" href="#kt_tab_table_5_2">@NotificationResource.Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-4 active font-weight-bolder font-size-sm" data-toggle="tab" id="NoteUnRead" href="#kt_tab_table_5_3">@NotificationResource.UnRead</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-0 pb-4">
        <div class="tab-content mt-2" id="NotificationsTable">
            <!--begin::Tap pane-->
            <!--begin::Tap pane-->
            <!--end::Tap pane-->
        </div>
    </div>
    <!--end::Body-->
</div>

<script>
    $(function () {
        _initStatsMH();
        _initStatsNPICU();
        _initStatsICU();
        $('#NotificationsTable').load('@Url.Action("GetDashBoardNotifications", "Home", new { category="UnRead"})', function () { });

        $("#NoteUnRead").on("click", function () {

            $('#NotificationsTable').load('@Url.Action("GetDashBoardNotifications", "Home", new { category = "UnRead" })', function () { });
    });
        $("#NoteRead").on("click", function () {

            $('#NotificationsTable').load('@Url.Action("GetDashBoardNotifications", "Home", new { category = "Read" })', function () { });
            });
        $("#NoteAll").on("click", function () {

            $('#NotificationsTable').load('@Url.Action("GetDashBoardNotifications", "Home", new { category = "All" })', function () { });
    });
    });


</script>


<script>

    var _initStatsMH = function () {

        var element = document.getElementById("MH");
        var height = parseInt(KTUtil.css(element, 'height'));
        var color = KTUtil.hasAttr(element, 'data-color') ? KTUtil.attr(element, 'data-color') : 'primary';
        var dataArray = @Html.Raw(Json.Encode(Model.TeleMHCases.Select(x=>x.CaseCount).Reverse().ToList()));
        var monthArray = @Html.Raw(Json.Encode(Model.TeleMHCases.Select(x=>x.MonthName).Reverse().ToList()));

        if (!element) {
            return;
        }
        console.log(dataArray);
        var options = {
            series: [{
                name: '@(CommonResource.MentalHealth)',
                data: dataArray
            }],
            chart: {
                type: 'area',
                height: height,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                sparkline: {
                    enabled: true
                }
            },
            plotOptions: {},
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                type: 'solid',
                opacity: 1
            },
            stroke: {
                curve: 'smooth',
                show: true,
                width: 3,
                colors: [KTApp.getSettings()['colors']['theme']['base'][color]]
            },
            xaxis: {
                categories: monthArray,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                },
                crosshairs: {
                    show: false,
                    position: 'front',
                    stroke: {
                        color: KTApp.getSettings()['colors']['gray']['gray-300'],
                        width: 1,
                        dashArray: 3
                    }
                },
                tooltip: {
                    enabled: true,
                    formatter: undefined,
                    offsetY: 0,
                    style: {
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            yaxis: {
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
                }
            },
            tooltip: {
                style: {
                    fontSize: '12px',
                    fontFamily: KTApp.getSettings()['font-family']
                },
                y: {
                    formatter: function (val) {
                        return "" + val +  " @(CommonResource.Cases)"
                    }
                }
            },
            colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
            markers: {
                colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
                strokeColor: [KTApp.getSettings()['colors']['theme']['base'][color]],
                strokeWidth: 3
            }
        };

        var chart = new ApexCharts(element, options);
        chart.render();
    }
</script>


<script>
    var _initStatsNPICU = function () {

        var element = document.getElementById("NPICU");
        var height = parseInt(KTUtil.css(element, 'height'));
        var color = KTUtil.hasAttr(element, 'data-color') ? KTUtil.attr(element, 'data-color') : 'primary';
        var dataArray = @Html.Raw(Json.Encode(Model.NPICUCases.Select(x=>x.CaseCount).Reverse().ToList()));
        var monthArray = @Html.Raw(Json.Encode(Model.NPICUCases.Select(x=>x.MonthName).Reverse().ToList()));

        if (!element) {
            return;
        }
        console.log(dataArray);
        var options = {
            series: [{
                name: '@(CommonResource.NPICU)',
                data: dataArray
            }],
            chart: {
                type: 'area',
                height: height,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                sparkline: {
                    enabled: true
                }
            },
            plotOptions: {},
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                type: 'solid',
                opacity: 1
            },
            stroke: {
                curve: 'smooth',
                show: true,
                width: 3,
                colors: [KTApp.getSettings()['colors']['theme']['base'][color]]
            },
            xaxis: {
                categories: monthArray,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                },
                crosshairs: {
                    show: false,
                    position: 'front',
                    stroke: {
                        color: KTApp.getSettings()['colors']['gray']['gray-300'],
                        width: 1,
                        dashArray: 3
                    }
                },
                tooltip: {
                    enabled: true,
                    formatter: undefined,
                    offsetY: 0,
                    style: {
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            yaxis: {
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
                }
            },
            tooltip: {
                style: {
                    fontSize: '12px',
                    fontFamily: KTApp.getSettings()['font-family']
                },
                y: {
                    formatter: function (val) {
                        return "" + val +  " @(CommonResource.Cases)"
                    }
                }
            },
            colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
            markers: {
                colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
                strokeColor: [KTApp.getSettings()['colors']['theme']['base'][color]],
                strokeWidth: 3
            }
        };

        var chart = new ApexCharts(element, options);
        chart.render();
    }
</script>


<script>
    var _initStatsICU = function () {

        var element = document.getElementById("ICU");
        var height = parseInt(KTUtil.css(element, 'height'));
        var color = KTUtil.hasAttr(element, 'data-color') ? KTUtil.attr(element, 'data-color') : 'primary';
        var dataArray = @Html.Raw(Json.Encode(Model.ICUCases.Select(x=>x.CaseCount).Reverse().ToList()));
        var monthArray = @Html.Raw(Json.Encode(Model.ICUCases.Select(x=>x.MonthName).Reverse().ToList()));

        if (!element) {
            return;
        }
        console.log(dataArray);
        var options = {
            series: [{
                name: '@(CommonResource.ICU)',
                data: dataArray
            }],
            chart: {
                type: 'area',
                height: height,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                sparkline: {
                    enabled: true
                }
            },
            plotOptions: {},
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                type: 'solid',
                opacity: 1
            },
            stroke: {
                curve: 'smooth',
                show: true,
                width: 3,
                colors: [KTApp.getSettings()['colors']['theme']['base'][color]]
            },
            xaxis: {
                categories: monthArray,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                },
                crosshairs: {
                    show: false,
                    position: 'front',
                    stroke: {
                        color: KTApp.getSettings()['colors']['gray']['gray-300'],
                        width: 1,
                        dashArray: 3
                    }
                },
                tooltip: {
                    enabled: true,
                    formatter: undefined,
                    offsetY: 0,
                    style: {
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            yaxis: {
                labels: {
                    show: false,
                    style: {
                        colors: KTApp.getSettings()['colors']['gray']['gray-500'],
                        fontSize: '12px',
                        fontFamily: KTApp.getSettings()['font-family']
                    }
                }
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
               }
            },
            tooltip: {
                style: {
                    fontSize: '12px',
                    fontFamily: KTApp.getSettings()['font-family']
                },
                y: {
                    formatter: function (val) {
                        return "" + val +  " @(CommonResource.Cases)"
                    }
                }
            },
            colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
            markers: {
                colors: [KTApp.getSettings()['colors']['theme']['light'][color]],
                strokeColor: [KTApp.getSettings()['colors']['theme']['base'][color]],
                strokeWidth: 3
            }
        };

        var chart = new ApexCharts(element, options);
        chart.render();
    }
</script>

