@using BoulevardManagement.DTO;
@using BoulevardManagement.WebApplication.Resources;
@using TripleA.Utilities.HashidsNet;
@model TelMHPhysicalExaminationReportDTO


<script type="text/javascript" src="~/Scripts/FileUpload.js"></script>


@{
    var customeClass = "";
    if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        customeClass = "k-rtl";
    }

    var viewMode = !User.IsInRole(RoleConsistent.TeleMentalHealth.EditPhysicalExaminationReport) || Model.CaseStatus == CaseStatus.Closed;

}


<!--begin::Form-->
@using (Html.BeginForm("UpdatePhysicalExaminationReport", "TeleMentalHealth", FormMethod.Post, new { @id = "TelMHPhysicalExaminationReportFormId" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.TeleMentalHealthId)
    @Html.HiddenFor(model => model.ReportOfThePhysicalExaminationAttachmentId)
    @Html.HiddenFor(model => model.HasNewReportOfThePhysicalExaminationAttachment)
    @Html.HiddenFor(model => model.ReportOfThePhysicalExaminationFilename)
    @Html.HiddenFor(model => model.ReportOfThePhysicalExaminationFilePath)


    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">

                @PhysicalExaminationReportResource.ReportOfThePhysicalExaminationCommittee


            </h3>
        </div>
        @*<div class="card-toolbar">
                <a href="#" class="btn btn-light-primary font-weight-bolder mr-2">
                    <i class="ki ki-long-arrow-back icon-sm"></i>@CommonResource.Back
                </a>
                <a href="javascript:void(0);" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-1" data-card-tool="toggle">
                    <i class="ki ki-arrow-down icon-nm"></i>
                </a>
            </div>*@
    </div>


    <div class="card-body">
        <h6>
            @PhysicalExaminationReportResource.UponTheExaminationAndCheckOfThePatient (@Model.PatientName) @PhysicalExaminationReportResource.ByTheCommitteeAndInThePresenceOfHis_HerParent_ItShowsTheFollowing 
        </h6>

        <div class="form-group row">
            <div class="col-lg-12" style="padding-top:15px;">
                @*<label>@PhysicalExaminationReportResource.ReportOfThePhysicalExaminationCommittee:</label>*@
                @if (viewMode)
                {
                    @Html.TextAreaFor(m => m.ReportOfThePhysicalExaminationCommittee, new { @class = "form-control", @rows = "10", @placeholder = PhysicalExaminationReportResource.ReportOfThePhysicalExaminationCommittee, @id = "ReportOfThePhysicalExaminationCommittee", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextAreaFor(m => m.ReportOfThePhysicalExaminationCommittee, new { @class = "form-control", @rows = "10", @placeholder = PhysicalExaminationReportResource.ReportOfThePhysicalExaminationCommittee, @id = "ReportOfThePhysicalExaminationCommittee" })
                    @Html.ValidationMessageFor(x => x.ReportOfThePhysicalExaminationCommittee)
                    <span class="form-text text-muted">@PhysicalExaminationReportResource.ReportOfThePhysicalExaminationCommitteeInfoSpan</span>
                }

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="required @customeClass">
                    <div class="k-widget k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: none; " id="errorMessage">
                        <span class="fa fa-times-circle" style="margin-top:5px; color:#d9534f;"> </span><label id="errorMsgTxt"></label>
                    </div>
                    @if (!viewMode)
                    {
                        @(Html.Kendo().Upload().Messages(m => m.Select(CommonResource.SelectFile))
                .Name("files")
                .ShowFileList(true)
                .Multiple(false)
                .Async(a => a
                .Save("AddFile", "Attachment", new { fileGuid = Guid.NewGuid() })
                .AutoUpload(true)
                ).Events(c => c
                .Select("onSelectFile")
                    .Success("onSuccessUploadReportOfThePhysicalExaminationFile")))
                    }


                    <br />
                    @if (Model.ReportOfThePhysicalExaminationAttachmentId.HasValue)
                    {
                        @Model.ReportOfThePhysicalExaminationFilename <a href='@Url.Action("Download", "Attachment")?attachmentId=@HashIdsManager.Encrypt(Model.ReportOfThePhysicalExaminationAttachmentId.Value)'><i class='fa fa-download' style='color:black'></i></a>
                    }



                </div>
            </div>
        </div>



        <br />
        <br />

        @if (!viewMode)
        {
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" id="save" class="btn btn-primary">@CommonResource.Save</button>

                </div>
            </div>
        }



        <!--<a href="#" class="btn btn-icon btn-warning btn-circle btn-lg" style="position:fixed; bottom:60px; right:115px;">
    <span class="svg-icon">-->
        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"></rect>
            <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
            <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
        </g>
    </svg>-->
        <!--end::Svg Icon-->
        <!--</span>
    </a>-->

    </div>




}



<!--end::Form-->




<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>



    $("#TelMHPhysicalExaminationReportFormId").on("submit", function (e) {

            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (data) {
                    if (data.Success) {
                        ShowSuccessfllyMsg(data.Message);
                        $('#main-content').load('@Url.Action("GetPhysicalExaminationReport", "TeleMentalHealth", new { mentalHealthId = HashIdsManager.Encrypt(Model.TeleMentalHealthId) })', function () {});
                        $('#sticky-menu').load('@Url.Action("GetSickyMenu", "TeleMentalHealth", new { mentalHealthId = HashIdsManager.Encrypt(Model.TeleMentalHealthId) })', function () {
                            onmenueload();
                            $("#PhysicalExaminationReportBtn").addClass("active");
                        });
                    } else {
                        onJSError(data.Message);
                        $("#save").removeAttr("disabled");
                    }
                }
            });




           // $("#ManifestItemFormId").submit();
    });

    $("#save").on("click", function (e) {
        
        $('#TelMHPhysicalExaminationReportFormId').validate();
        if ($("#TelMHPhysicalExaminationReportFormId").valid()) {



            $("#save").attr("disabled", "disabled");



            $("#TelMHPhysicalExaminationReportFormId").submit();
        }
    });




</script>
