@using BoulevardManagement.WebApplication.Resources
@model BoulevardManagement.WebApplication.Models.UsersViewModel

<style>
    #profile {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        /*top: -80px;
        margin-bottom: -80px;*/
        cursor: pointer;
        background: #f4f4f4;
        display: table;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
    }

        #profile .dashes {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            border: 4px dashed #ddd;
            opacity: 1;
        }

        #profile label {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 30px;
            color: grey;
            opacity: 1;
        }

        #profile.dragging {
            background-image: none !important;
        }

    #PhotoURL {
        position: absolute;
        top: -1000px;
    }

    .row {
        margin-bottom: 10px;
    }

    .box-body {
        height: 1360px;
    }
</style>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PhotoUrl)




    <div class="box box-primary">

        <div class="box-body" role="tabpanel" aria-labelledby="GeneralInfoHeading">
            <div class="form-horizontal">

                <br />
                <br />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })





           
             
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <strong>@EditAccountViewResource.Email </strong>
                                </div>
                                <div class="col-md-9">
                                    @Model.Email
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <strong>@EditAccountViewResource.FullName </strong>
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <strong>@EditAccountViewResource.PhoneNumber</strong>
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                    </div>



                    <div class="col-lg-6 text-center">



                        <div id="profile">
                            <div class="dashes"></div>
                            <label>@EditAccountViewResource.ChooseImage</label>
                        </div>

                        <input type="file" name="upload" id="PhotoURL" />

                        <div class="error-div bg-danger box-danger" hidden style="height:25px; margin-top:10px; ">
                            <span>@EditAccountViewResource.ImageError</span>
                        </div>
                        @*<img class="img-circle" width="200" height="200" src="@Model.PhotoUrl" />
                            <input type="file" name="upload" id="PhotoURL" class="d-block" />*@
                    </div>


                </div>

                <br />
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <input type="submit" value="@EditAccountViewResource.Update" id="save" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>




    $(function () {
        $('#profile').addClass('dragging').removeClass('dragging');
        if ('@Model.HasPhoto')
            $('#profile').css('background-image', 'url(' + '@Model.PhotoUrl' + ')').addClass('hasImage');
    });

    $('#profile').on('dragover', function () {
        $('#profile').addClass('dragging')
    }).on('dragleave', function () {
        $('#profile').removeClass('dragging')
    }).on('drop', function (e) {
        $('#profile').removeClass('dragging hasImage');

        if (e.originalEvent) {
            var file = e.originalEvent.dataTransfer.files[0];
            console.log(file);

            var reader = new FileReader();

            //attach event handlers here...

            reader.readAsDataURL(file);
            reader.onload = function (e) {
                console.log(reader.result);
                $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');

            }

        }
    })
    $('#profile').on('click', function (e) {
        console.log('clicked')
        $('#PhotoURL').click();
    });
    window.addEventListener("dragover", function (e) {
        e = e || event;
        e.preventDefault();
    }, false);
    window.addEventListener("drop", function (e) {
        e = e || event;
        e.preventDefault();
    }, false);

    $('#PhotoURL').change(function (e) {

        var input = e.target;
        if (input.files && input.files[0]) {
            var file = input.files[0];

            var reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = function (e) {
                console.log(reader.result);
                $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
            }
        }
    })
</script>


<script>
    $(function () {
        $("#save").click(function () {

            console.log('save clicked')


            if ($("#PhotoURL").val() != "") {

                //check if the image extension is valid
                var fileName1 = document.getElementById("PhotoURL").value;

                var extensionImg = fileName1.substr(fileName1.lastIndexOf('.') + 1);

                var validExtensions = ["jpg"/*, "png", "bmp", "gif", "svg"*/];

                if ($.inArray(extensionImg, validExtensions) == -1) {
                    $(".error-div").removeAttr("hidden");
                    return false;
                }
            }


          


        });




    });
</script>
