 <!--begin::Quick panel-->

<!--end::Quick panel-->
@using BoulevardManagement.WebApplication.Resources;

<div id="kt_quick_panel" class="offcanvas offcanvas-right pt-5 pb-10">
    <!--begin::Header-->
    <div class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5">
        <ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary flex-grow-1 px-10" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_logs">@NotificationResource.UnRead</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_notifications">@NotificationResource.Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_settings">@NotificationResource.All</a>
            </li>
        </ul>
        <div class="offcanvas-close mt-n1 pr-5">
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_panel_close">
                <i class="ki ki-close icon-xs text-muted"></i>
            </a>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="offcanvas-content px-10">
        <div class="tab-content">
            <!--begin::Tabpane-->
            <div class="tab-pane fade show pt-3 pr-5 mr-n5 active" id="kt_quick_panel_logs" role="tabpanel">
                <div class="kt-notification-v2" id="unread-notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="UNREAD" })" class="btn btn-block btn-outline-primary">@NotificationResource.More</a>
            </div>
            <!--end::Tabpane-->


            <!--begin::Tabpane-->
            <div class="tab-pane fade pt-2 pr-5 mr-n5" id="kt_quick_panel_notifications" role="tabpanel">
                <div class="kt-notification-v2" id="read-notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="READ" })" class="btn btn-block btn-outline-primary">@NotificationResource.More</a>
            </div>
            <!--end::Tabpane-->
            <!--begin::Tabpane-->
            <div class="tab-pane fade pt-3 pr-5 mr-n5" id="kt_quick_panel_settings" role="tabpanel">
                <div class="kt-notification-v2" id="notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="ALL" })" class="btn btn-block btn-outline-primary">@NotificationResource.More</a>
            </div>
            <!--end::Tabpane-->
        </div>
    </div>
    <!--end::Content-->
</div>