@using BoulevardManagement.WebApplication.Models;
@using System.Configuration;
@using BoulevardManagement.WebApplication.Resources;
@using BoulevardManagement.DTO;


@model NotificationGroupVM
@if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
{
    <style>
        .k-checkbox:indeterminate + .k-checkbox-label:after {
            left: 29px !important;
        }
    </style>
}
<!--begin::Container-->
<div class="container">

    <div class="card card-custom  card-sticky ">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    @NotificationResource.NotificationGroup
                    <i class="mr-2"></i>
                    @* <small class="">try to scroll the page</small>*@
                </h3>
            </div>
            <div class="card-toolbar">
                <a href="/NotificationGroup" class="btn btn-light-primary font-weight-bolder mr-2">
                    <i class="ki ki-long-arrow-back icon-sm"></i>@CommonResource.Back
                </a>
                <div class="btn-group">
                    <button type="button" id="EditSave" class="btn btn-primary font-weight-bolder">
                        <i class="ki ki-check icon-sm"></i>@UserGroupViewResource.SaveGroup
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="nav nav-hover flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="EditSaveAndContinue">
                                    <i class="nav-icon flaticon2-reload"></i>
                                    <span class="nav-text">@CommonResource.Save &amp; @CommonResource.Continue</span>
                                </a>
                            </li>
                            <li class="nav-item" id="EditNotificationGroupBtn">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon flaticon2-add-1"></i>
                                    <span class="nav-text">@CommonResource.Save &amp; @CommonResource.AddNew</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--begin::Form-->


        @using (Html.BeginForm("Create", "NotificationGroup", FormMethod.Post, new { @id = "NotificationGroupFormId" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.AntiForgeryToken()
    <div class="card-body">
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group required">
                    @Html.Label(UserGroupViewResource.Name, new { @class = "form-label" })
                    @Html.EditorFor(c => c.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Group Name" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
        @{
            var customeClass = "";
            if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
            {
                customeClass = "k-rtl";
            }
        }


        <div class="row">
            <div class="col-sm-12">
                <div class="form-group required">
                    @Html.Label(NotificationResource.NotificationGroup, new { @class = "form-label required" })
                    <div class="@customeClass">

                        @( Html.Kendo().TreeView()
                                                                                                                            .Name("Roles")
                                                                                                                            .BindTo(Model.Notifications)
                                                                                                                            //                              .DataTextField("Name")
                                                                                                                            //                              .DataSource(dataSource => dataSource
                                                                                                                            //    .Read(read => read
                                                                                                                            //        .Action("GetNotifications", "NotificationGroup")
                                                                                                                            //    )
                                                                                                                            //)
                                                                                                                            .Checkboxes(checkboxes => checkboxes
                                                                                                                                    .Name("FinalSelectedNotifications")
                                                                                                                                    .CheckChildren(true)
                                                                                                                                    )
                                )
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("FormType", SubmitFormType.SaveAndExist, new { @id = "FormType" })
    </div>

        }
    </div>
</div>





@Html.Partial("Modals/ConfirmWithProgressModal", new ConfirmModel() { ModelId = "AddModal", Title = UserGroupViewResource.ConfirmOperationTitle, ButtonId = "AddBtn", ButtonTextCancel = CommonResource.No, ButtonTextOk = CommonResource.Yes, Content = UserGroupViewResource.AddConfirmOperationContent })
@Html.Partial("Modals/ConfirmWithProgressModal", new ConfirmModel() { ModelId = "EditModal", Title = UserGroupViewResource.ConfirmOperationTitle, ButtonId = "EditBtn", ButtonTextCancel = CommonResource.No, ButtonTextOk = CommonResource.Yes, Content = UserGroupViewResource.EditConfirmOperationContent })
<style>
    .custom-placeholder {
        opacity: 0.4;
    }
</style>
<script type="text/javascript">

    function GetFilterData() {
        return {
            groupId : '@Model.Id'
        }
    }

    function customPlaceholder(draggedItem) {
        return draggedItem
            .clone()
            .addClass("custom-placeholder")
            .removeClass("k-ghost");
    }
    $(document).ready(function () {
        $('.k-listbox').width("300px").height("400px");

        $('#AddBtn').click(SubmitForm);
        $('#EditBtn').click(SubmitForm);



        if ($('#NewNotificationGroupBtn'))
            $("#NewNotificationGroupBtn").click(function (e) {
                FormType = "@SubmitFormType.SaveAndAddNew";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#AddModal').modal('show');

            });
        if ($('#AddSave'))
            $("#AddSave").click(function (e) {
                FormType = "@SubmitFormType.SaveAndExist";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#AddModal').modal('show');

            });
        if ($('#AddSaveAndContinue'))
            $("#AddSaveAndContinue").click(function (e) {
                 FormType = "@SubmitFormType.SaveAndContinue";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#AddModal').modal('show');

            });


        if ($('#EditNotificationGroupBtn'))
            $("#EditNotificationGroupBtn").click(function (e) {
              FormType = "@SubmitFormType.SaveAndAddNew";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#EditModal').modal('show');

            });

        if ($('#EditSave'))
            $("#EditSave").click(function (e) {
                FormType = "@SubmitFormType.SaveAndExist";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#EditModal').modal('show');

            });
        if ($('#EditSaveAndContinue'))
            $("#EditSaveAndContinue").click(function (e) {
              FormType = "@SubmitFormType.SaveAndContinue";
                e.preventDefault();
                if ($('#NotificationGroupFormId').valid())
                    $('#EditModal').modal('show');

            });
    });

    function SubmitForm() {
        $('.showAddModal').show();
        $('.hideAddModal').hide();
        $("#FormType").val(FormType);
        $("#NotificationGroupFormId").submit();
    }


      //For Users Grid
    function GetFilterCriterias() {

        return {  notificationGroupId: '@Model.Id' }
    }

</script>




